.resultsSummary {
  display: inline-flex;
  align-items: center;
  font-weight: 500;
  font-size: var(--mantine-font-size-sm);
  padding-bottom: 4px;
}

.sortSelectRoot {
  display: flex;
  align-items: center;
}

.sortSelectLabel {
  margin-right: 10px;
}

.resultsTable {
  border-top: 1px solid var(--mantine-color-default-border);
}
