{
  "Parameters" : {
    "pAdminUser"                : "{{ admin_user }}",
    "pBackupRetentionPeriod"    : "{{ backup_retention_period }}",
    "pBuild"                    : "{{ codebuild_build_number }}",
    "pCleanBranch"              : "{{ clean_branch }}",
    "pDbEngineVersion"          : "{{ db_engine_version }}",
    "pDbParameterGroupFamily"   : "{{ db_parameter_group_family }}",
    "pEnablePerformanceInsights": "{{ enable_performance_insights }}",
    "pEnvironment"              : "{{ environment }}",
    "pInstanceClass"            : "{{ instance_class }}",
    "pInstanceCount"            : "{{ instance_count }}",
    "pProductName"              : "{{ product_name }}",
    "pVpcStackName"             : "{{ vpc_stack_name }}"
  },
  "Tags" : {
    "product"     : "{{ product_name }}",
    "component"   : "{{ product_component }}",
    "environment" : "{{ environment }}",
    "branch"      : "{{ src_branch }}",
    "version"     : "{{ commit_id }}",
    "build"       : "{{ codebuild_build_number }}"
  },
  "StackPolicy" : {
    "Statement" : [
      {
        "Effect" : "Allow",
        "Action" : "Update:*",
        "Principal": "*",
        "Resource" : "*"
      }
    ]
  }
}
