:root {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
}

a {
  font-weight: 500;
  color: #c44d34;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

.mantine-Button-inner .tabler-icon {
  margin-right: 6px;
}

.mantine-ThemeIcon-root {
  margin-right: 12px;
  position: relative;
  top: 4px;
}

dl {
  margin-top: 0;
}
dt {
  font-size: 0.875rem;
}
dd {
  margin-top: 0.3em;
  margin-left: 0.5em;
}

.contactUsLink {
  color: #FFFFFF;
  font-size: 14px;
}

.loginButtons .mantine-Button-label {
  color: #FFFFFF;
  font-size: 14px;
  font-weight: 400;
}

@media screen and (max-width: 800px) {
  .logoImage {
    display: none;
  }
  .logoImageSmall {
    display: block;
  }
}
@media screen and (min-width: 800px) {
  .logoImage {
    display: block;
  }
  .logoImageSmall {
    display: none;
  }
}

.loginButtons .mantine-Button-label:hover {
  background-color: #212121 ;
}

.loginButtons .mantine-Button-root:hover {
  border: #FFFFFF solid 1px;
  background-color: #212121 ;
}

.loginButtons .mantine-Button-root {
  border: #FFFFFF solid 1px;
  background-color: #212121 ;
}

.filterQueryBtn {
  color: rgb(128, 128, 128);
  border: 1px solid rgb(128, 128, 128);
}

.mantine-Button-root:hover {
  color:#c44d34;
  background-color: #f6f6f6;
  border: #c44d34 solid 1px;
}

.mantine-Accordion-item[data-active="true"] .mantine-Accordion-label {
  font-weight: bold;
}

.speciesListsSideBar {
  background-color: #f6f6f6;
}

.speciesListSideBar {
  background-color: #f6f6f6;
}

.sideBarColumn {
  background-color: #f6f6f6;
}

.mantine-Accordion-chevron {
  display: none;
}

.mantine-Notification-icon {
  background-color: dimgray;
}