.link {
  @mixin light {
    color: black;
  }

  @mixin dark {
    color: white;
  }

  &:hover {
    @mixin light {
      color: var(--mantine-color-rust-6);
    }

    @mixin dark {
      color: var(--mantine-color-flamingo-4);
    }
  }
}

.breadcrumbs {
  @media (max-width: 65em) {
    align-self: flex-start;
  }

  /* Desktop Sizes */
  @media (min-width: 65em) {
    align-: center
  }
}