.table {
  table-layout: auto;
  border-top: 1px solid var(--mantine-color-default-border);
  border-bottom: 1px solid var(--mantine-color-default-border);
}

.tbody .tr {
  cursor: pointer;

  &:hover {
    @mixin light {
      background-color: var(--mantine-color-light-grey-2);
    }
    @mixin dark {
      background-color: var(--mantine-color-dark-4);
    }
  }
}
