.card {
  transition: all 200ms ease;

  &:hover {
    transform: scale(1.04);
    opacity: 0.4;
  }

  &:active {
    transform: scale(1.02);
    opacity: 0.6;
  }
}

.disabled {
  cursor: not-allowed;
  opacity: 0.4;
}
