.disabled {
  opacity: 0.6;
  background-color: light-dark(
    var(--mantine-color-gray-0),
    var(--mantine-color-dark-6)
  );
  border-color: light-dark(
    var(--mantine-color-gray-2),
    var(--mantine-color-dark-5)
  );
  cursor: not-allowed;
}

.inner {
  transition: height ease 200ms;
  pointer-events: none;

  & svg {
    min-width: 40px;
    min-height: 40px;
  }
}
