.disabled {
  opacity: 0.6;
  background-color: light-dark(
    var(--mantine-color-gray-0),
    var(--mantine-color-dark-6)
  );
  border-color: light-dark(
    var(--mantine-color-gray-2),
    var(--mantine-color-dark-5)
  );
  cursor: not-allowed;
}

.inner {
  transition: height ease 200ms;
  pointer-events: none;

  & svg {
    min-width: 40px;
    min-height: 40px;
  }
}

.title {
  font-weight: 600;
  margin-bottom: 10px;
  margin-top: 0px;
  color: var(--mantine-color-text);
}

.speciesHeader {
  padding: 10px 20px 15px 20px;
  z-index: 0;
  background-repeat: no-repeat;
  background-position: right -10px top -20px;

  @mixin light {
      background-color: var(--mantine-color-concrete-0);
      background-image: url('/logo/logo-back-light.svg');
  }

  @mixin dark {
      background-color: var(--mantine-color-charcoal-9);
      background-image: url('/logo/logo-back-dark.svg');
  }

}