# Default values for helm.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

replicaCount: 1

image:
  repository: ""
  pullPolicy: IfNotPresent
  tag: "latest"

imagePullSecrets: []
nameOverride: ""
fullnameOverride: ""

serviceAccount:
  create: true
  automount: true
  annotations: {}
  name: ""

deploymentAnnotations: {}

podAnnotations: {}
podLabels: {}

podSecurityContext: {}

securityContext: {}

service:
  port: 80
  targetPort: 8080

ingress:
  enabled: true
  className: "alb"
  certificateArn: ""
  hostname: ""
  tls: []

resources:
  requests:
    memory: 4096Mi
    cpu: 1
  limits:
    memory: 4096Mi
    cpu: 2

livenessProbe:
  httpGet:
    path: /
    port: http
readinessProbe:
  httpGet:
    path: /
    port: http

autoscaling:
  enabled: true
  minReplicas: 1
  maxReplicas: 10
  targetCPUUtilizationPercentage: 80
  targetMemoryUtilizationPercentage: 80

# Additional volumes on the output Deployment definition.
volumes: []

# Additional volumeMounts on the output Deployment definition.
volumeMounts: []

nodeSelector: {}

tolerations: []

affinity: {}

app:
  version: "1.0.0"
  url: ""

elasticsearch:
  deployment:
    name: "elasticsearch"
  enabled: true
  service:
    name: "elasticsearch"
    host: ""
    port: 9200
    username: ""
    password: ""
    authEnabled: false
    tlsEnabled: false
  persistence:
    enabled: true
    storageClass: "auto-ebs-sc"
    accessMode: ReadWriteOnce
    size: 10Gi
  single_node_es: true

config:
  app:
    name: "species-lists"
    url: ""
  graphql:
    enabled: true
    path: "/graphql"
  release:
    directory: "/tmp/"
    s3:
      enabled: false
      bucket: s3://lists/releases
  multipart:
    maxFileSize: 50MB
    maxRequestSize: 50MB
  mongodb:
    username: ""
    password: ""
    host: ""
    port: 27017
    database: "species-lists"
    autoIndexCreation: true
  namematching:
    baseUrl: ""
  bie:
    baseUrl: ""
    url: ""
    imagesUrl: ""
  biocache:
    baseUrl: ""
  collectory:
    baseUrl: ""
  images:
    baseUrl: ""
    url: ""
  userdetails:
    baseUrl: ""
  security:
    jwt:
      userIdClaim: username
      roleClaims: cognito:groups
      requireUserInfo: true
      userProfileFromAccessToken: true
      rolesFromAccessToken: true
      enabled: true
      discoveryUri: ""
      clientId: ""
    apikey:
      enabled: false
    admin:
      role: "ROLE_ADMIN,ala/internal"
  webservice:
    read:
      timeout: 600000
    connect:
        timeout: 600000
    jwt: true
    jwtScopes: "users/read ala/attrs ala/internal"
  migrate:
    url: https://lists-test.ala.org.au
  oidc:
    enabled: true
    clientId: ""
    discoveryUri: ""