version: 0.2

env:
  shell: bash
  variables:
    JAVA_TOOL_OPTIONS: -Dhttps.protocols=TLSv1.2
  secrets-manager:
    DB_PASSWORD: $LISTS_SECRET_NAME:db-password

phases:
  install:
    commands:
      - echo Installing dependencies...
      - curl -fsSL -o get_helm.sh https://raw.githubusercontent.com/helm/helm/main/scripts/get-helm-3
      - chmod 700 get_helm.sh
      - ./get_helm.sh

  build:
    commands:
      - echo Build started on $(date)
      - aws eks update-kubeconfig --name $EKS_CLUSTER_NAME
      - kubectl config set-context --current --namespace=lists
      - printf "$(kubectl config current-context)\n"
      - cd lists-service/helm
      - export CERTIFICATE_ARN=$(aws acm list-certificates --region ap-southeast-2 --query "CertificateSummaryList[?DomainName=='*.test.ala.org.au' && Status=='ISSUED'].CertificateArn" --output text)
      - helm upgrade --install ala-species-lists . 
                      -n lists 
                      --set image.repository=$ECR_REPO 
                      --set image.tag=$IMAGE_TAG 
                      --set ingress.hostname=$SUB_DOMAIN.$HOSTED_ZONE
                      --set ingress.certificateArn=$CERTIFICATE_ARN
                      --set mongodb.host=$MONGODB_HOST
                      --set mongodb.username=$MONGODB_USERNAME
                      --set oidc.discoveryUri=$OIDC_DISCOVERY_URI
                      --set oidc.clientId=$OIDC_CLIENT_ID
                      --set bie.baseUrl=$BIE_BASE_URL
                      --set images.baseUrl=$IMAGES_BASE_URL
                      --set userdetails.baseUrl=$USERDETAILS_BASE_URL
  post_build:
    commands:
      - echo Post-build phase...
      - echo Build completed on $(date)
