version: 0.2
###
# This build project sets up the eks context and deploys the lists service
# using Helm

env:
  shell: bash
  variables:
    JAVA_TOOL_OPTIONS: -Dhttps.protocols=TLSv1.2

phases:

  install:
    commands:
      - echo Installing dependencies...
      - curl -fsSL -o get_helm.sh https://raw.githubusercontent.com/helm/helm/main/scripts/get-helm-3
      - chmod 700 get_helm.sh
      - ./get_helm.sh

  build:
    commands:
      - echo Uninstall started on $(date)
      - delete-user-pool-client
          --user-pool-id $COGNITO_POOL_ID
          --client-id $APP_CLIENT_NAME
      - aws eks update-kubeconfig --name $EKS_CLUSTER_NAME
#      - kubectl config set-context --current --namespace=$PRODUCT_NAME
#      - printf "$(kubectl config current-context)\n"
      # do we need to create the service account here?
      - cd lists-service/helm
      - echo helm uninstall $HELM_RELEASE_NAME -n lists
      - helm uninstall $HELM_RELEASE_NAME -n lists

  post_build:
    commands:
      - echo Post-build phase...
      - echo Build completed on $(date)
