apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "ala-species-lists.fullname" . }}
  labels:
    {{- include "ala-species-lists.labels" . | nindent 4 }}
data:
{{ (tpl (.Files.Glob "config/lists-service-config.properties").AsConfig . ) | indent 2 }}
{{ (.Files.Glob "config/constraints.json").AsConfig | indent 2 }}
binaryData:
  lists-service-truststore.jks: |-
{{ .Files.Get "config/lists-service-truststore.jks" | b64enc | indent 4 }}