apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "ala-species-lists.fullname" . }}
  labels:
    {{ include "ala-species-lists.labels" . | nindent 4 }}
spec:
  replicas: {{ .Values.replicaCount }}
  selector:
    matchLabels:
      {{ include "ala-species-lists.selectorLabels" . | nindent 6 }}
  template:
    metadata:
      labels:
        {{ include "ala-species-lists.selectorLabels" . | nindent 8 }}
      annotations:
        {{ include "ala-species-lists.deploymentAnnotations" . | nindent 8 }}
    spec:
      containers:
        - name: {{ .Chart.Name }}
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          ports:
            - name: http
              containerPort: 8080
          resources:
            {{ toYaml .Values.resources | nindent 12 }}
          {{- if .Values.livenessProbe.enabled }}
          livenessProbe:
            httpGet:
              path: {{ .Values.livenessProbe.httpGet.path }}
              port: {{ .Values.livenessProbe.httpGet.port }}
              scheme: {{ .Values.livenessProbe.httpGet.scheme }}
            initialDelaySeconds: {{ .Values.livenessProbe.initialDelaySeconds }}
            periodSeconds: {{ .Values.livenessProbe.periodSeconds }}
            timeoutSeconds: {{ .Values.livenessProbe.timeoutSeconds }}
            successThreshold: {{ .Values.livenessProbe.successThreshold }}
            failureThreshold: {{ .Values.livenessProbe.failureThreshold }}
          {{- end }}
          {{- if .Values.startupProbe.enabled }}
          startupProbe:
            httpGet:
              path: {{ .Values.startupProbe.httpGet.path }}
              port: {{ .Values.startupProbe.httpGet.port }}
              scheme: {{ .Values.startupProbe.httpGet.scheme }}
            initialDelaySeconds: {{ .Values.startupProbe.initialDelaySeconds }}
            periodSeconds: {{ .Values.startupProbe.periodSeconds }}
            timeoutSeconds: {{ .Values.startupProbe.timeoutSeconds }}
            successThreshold: {{ .Values.startupProbe.successThreshold }}
            failureThreshold: {{ .Values.startupProbe.failureThreshold }}
          {{- end }}
          {{- if .Values.readinessProbe.enabled }}
          readinessProbe:
            httpGet:
              path: {{ .Values.readinessProbe.httpGet.path }}
              port: {{ .Values.readinessProbe.httpGet.port }}
              scheme: {{ .Values.readinessProbe.httpGet.scheme }}
            initialDelaySeconds: {{ .Values.readinessProbe.initialDelaySeconds }}
            periodSeconds: {{ .Values.readinessProbe.periodSeconds }}
            timeoutSeconds: {{ .Values.readinessProbe.timeoutSeconds }}
            successThreshold: {{ .Values.readinessProbe.successThreshold }}
            failureThreshold: {{ .Values.readinessProbe.failureThreshold }}
          {{- end }}
          command: [ "java" ]
          args:
            - "-Djavax.net.ssl.trustStore=/data/lists-service/config/lists-service-truststore.jks"
            - "-Djavax.net.ssl.trustStorePassword=changeme"
            - "-Djavax.net.ssl.trustStoreType=jks"
            - "-jar"
            - "app.jar"
            - "--spring.config.location=file:/data/lists-service/config/lists-service-config.properties"
          volumeMounts:
            - name: config-volume
              mountPath: /data/lists-service/config/lists-service-config.properties
              subPath: lists-service-config.properties
            - name: config-volume
              mountPath: /data/lists-service/config/constraints.json
              subPath: constraints.json
            - name: config-volume
              mountPath: /data/lists-service/config/lists-service-truststore.jks
              subPath: lists-service-truststore.jks
      volumes:
        - name: config-volume
          configMap:
            name: {{ include "ala-species-lists.fullname" . }}