# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
/.idea/aws.xml
/.idea/codeStyles/codeStyleConfig.xml
/.idea/compiler.xml
/.idea/encodings.xml
/.idea/jarRepositories.xml
/.idea/lists-ui.iml
/lists-ui.iml
/.idea/libraries/Maven__asm_asm_3_3_1.xml
/.idea/libraries/Maven__cglib_cglib_2_2_2.xml
/.idea/libraries/Maven__ch_qos_logback_logback_classic_1_4_5.xml
/.idea/libraries/Maven__ch_qos_logback_logback_core_1_4_5.xml
/.idea/libraries/Maven__co_elastic_clients_elasticsearch_java_8_5_3.xml
/.idea/libraries/Maven__com_carrotsearch_hppc_0_8_1.xml
/.idea/libraries/Maven__com_fasterxml_jackson_core_jackson_annotations_2_14_1.xml
/.idea/libraries/Maven__com_fasterxml_jackson_core_jackson_core_2_14_1.xml
/.idea/libraries/Maven__com_fasterxml_jackson_core_jackson_databind_2_14_1.xml
/.idea/libraries/Maven__com_fasterxml_jackson_dataformat_jackson_dataformat_cbor_2_14_1.xml
/.idea/libraries/Maven__com_fasterxml_jackson_dataformat_jackson_dataformat_csv_2_14_2.xml
/.idea/libraries/Maven__com_fasterxml_jackson_dataformat_jackson_dataformat_smile_2_14_1.xml
/.idea/libraries/Maven__com_fasterxml_jackson_dataformat_jackson_dataformat_yaml_2_14_1.xml
/.idea/libraries/Maven__com_fasterxml_jackson_datatype_jackson_datatype_jdk8_2_14_1.xml
/.idea/libraries/Maven__com_fasterxml_jackson_datatype_jackson_datatype_jsr310_2_14_1.xml
/.idea/libraries/Maven__com_fasterxml_jackson_module_jackson_module_parameter_names_2_14_1.xml
/.idea/libraries/Maven__com_github_spullara_mustache_java_compiler_0_9_6.xml
/.idea/libraries/Maven__com_google_code_findbugs_jsr305_3_0_2.xml
/.idea/libraries/Maven__com_graphql_java_graphql_java_19_2.xml
/.idea/libraries/Maven__com_graphql_java_java_dataloader_3_2_0.xml
/.idea/libraries/Maven__com_jayway_jsonpath_json_path_2_7_0.xml
/.idea/libraries/Maven__com_tdunning_t_digest_3_2.xml
/.idea/libraries/Maven__com_vaadin_external_google_android_json_0_0_20131108_vaadin1.xml
/.idea/libraries/Maven__commons_beanutils_commons_beanutils_1_8_3.xml
/.idea/libraries/Maven__commons_codec_commons_codec_1_15.xml
/.idea/libraries/Maven__commons_io_commons_io_2_6.xml
/.idea/libraries/Maven__commons_logging_commons_logging_1_1_1.xml
/.idea/libraries/Maven__io_github_classgraph_classgraph_4_8_149.xml
/.idea/libraries/Maven__io_micrometer_context_propagation_1_0_0.xml
/.idea/libraries/Maven__io_micrometer_micrometer_commons_1_10_3.xml
/.idea/libraries/Maven__io_micrometer_micrometer_observation_1_10_3.xml
/.idea/libraries/Maven__io_projectreactor_reactor_core_3_5_2.xml
/.idea/libraries/Maven__io_swagger_core_v3_swagger_annotations_jakarta_2_2_7.xml
/.idea/libraries/Maven__io_swagger_core_v3_swagger_core_jakarta_2_2_7.xml
/.idea/libraries/Maven__io_swagger_core_v3_swagger_models_jakarta_2_2_7.xml
/.idea/libraries/Maven__jakarta_activation_jakarta_activation_api_2_1_1.xml
/.idea/libraries/Maven__jakarta_annotation_jakarta_annotation_api_2_1_1.xml
/.idea/libraries/Maven__jakarta_json_jakarta_json_api_2_1_1.xml
/.idea/libraries/Maven__jakarta_validation_jakarta_validation_api_3_0_2.xml
/.idea/libraries/Maven__jakarta_xml_bind_jakarta_xml_bind_api_4_0_0.xml
/.idea/libraries/Maven__javax_validation_validation_api_1_1_0_Final.xml
/.idea/libraries/Maven__joda_time_joda_time_2_10_10.xml
/.idea/libraries/Maven__net_bytebuddy_byte_buddy_1_12_22.xml
/.idea/libraries/Maven__net_bytebuddy_byte_buddy_agent_1_12_22.xml
/.idea/libraries/Maven__net_java_dev_jna_jna_5_10_0.xml
/.idea/libraries/Maven__net_minidev_accessors_smart_2_4_8.xml
/.idea/libraries/Maven__net_minidev_json_smart_2_4_8.xml
/.idea/libraries/Maven__net_sf_jopt_simple_jopt_simple_5_0_2.xml
/.idea/libraries/Maven__org_apache_commons_commons_compress_1_18.xml
/.idea/libraries/Maven__org_apache_commons_commons_digester3_3_2.xml
/.idea/libraries/Maven__org_apache_commons_commons_lang3_3_12_0.xml
/.idea/libraries/Maven__org_apache_httpcomponents_httpasyncclient_4_1_5.xml
/.idea/libraries/Maven__org_apache_httpcomponents_httpclient_4_5_14.xml
/.idea/libraries/Maven__org_apache_httpcomponents_httpcore_4_4_16.xml
/.idea/libraries/Maven__org_apache_httpcomponents_httpcore_nio_4_4_16.xml
/.idea/libraries/Maven__org_apache_logging_log4j_log4j_api_2_19_0.xml
/.idea/libraries/Maven__org_apache_logging_log4j_log4j_to_slf4j_2_19_0.xml
/.idea/libraries/Maven__org_apache_lucene_lucene_analyzers_common_8_11_1.xml
/.idea/libraries/Maven__org_apache_lucene_lucene_backward_codecs_8_11_1.xml
/.idea/libraries/Maven__org_apache_lucene_lucene_core_8_11_1.xml
/.idea/libraries/Maven__org_apache_lucene_lucene_grouping_8_11_1.xml
/.idea/libraries/Maven__org_apache_lucene_lucene_highlighter_8_11_1.xml
/.idea/libraries/Maven__org_apache_lucene_lucene_join_8_11_1.xml
/.idea/libraries/Maven__org_apache_lucene_lucene_memory_8_11_1.xml
/.idea/libraries/Maven__org_apache_lucene_lucene_misc_8_11_1.xml
/.idea/libraries/Maven__org_apache_lucene_lucene_queries_8_11_1.xml
/.idea/libraries/Maven__org_apache_lucene_lucene_queryparser_8_11_1.xml
/.idea/libraries/Maven__org_apache_lucene_lucene_sandbox_8_11_1.xml
/.idea/libraries/Maven__org_apache_lucene_lucene_spatial3d_8_11_1.xml
/.idea/libraries/Maven__org_apache_lucene_lucene_suggest_8_11_1.xml
/.idea/libraries/Maven__org_apache_tomcat_embed_tomcat_embed_core_10_1_5.xml
/.idea/libraries/Maven__org_apache_tomcat_embed_tomcat_embed_el_10_1_5.xml
/.idea/libraries/Maven__org_apache_tomcat_embed_tomcat_embed_websocket_10_1_5.xml
/.idea/libraries/Maven__org_apiguardian_apiguardian_api_1_1_2.xml
/.idea/libraries/Maven__org_assertj_assertj_core_3_23_1.xml
/.idea/libraries/Maven__org_codehaus_jackson_jackson_core_asl_1_9_12.xml
/.idea/libraries/Maven__org_codehaus_jackson_jackson_mapper_asl_1_9_12.xml
/.idea/libraries/Maven__org_eclipse_parsson_parsson_1_0_0.xml
/.idea/libraries/Maven__org_elasticsearch_client_elasticsearch_rest_client_8_5_3.xml
/.idea/libraries/Maven__org_elasticsearch_client_elasticsearch_rest_high_level_client_7_17_8.xml
/.idea/libraries/Maven__org_elasticsearch_elasticsearch_7_17_8.xml
/.idea/libraries/Maven__org_elasticsearch_elasticsearch_cli_7_17_8.xml
/.idea/libraries/Maven__org_elasticsearch_elasticsearch_core_7_17_8.xml
/.idea/libraries/Maven__org_elasticsearch_elasticsearch_geo_7_17_8.xml
/.idea/libraries/Maven__org_elasticsearch_elasticsearch_lz4_7_17_8.xml
/.idea/libraries/Maven__org_elasticsearch_elasticsearch_plugin_classloader_7_17_8.xml
/.idea/libraries/Maven__org_elasticsearch_elasticsearch_secure_sm_7_17_8.xml
/.idea/libraries/Maven__org_elasticsearch_elasticsearch_x_content_7_17_8.xml
/.idea/libraries/Maven__org_elasticsearch_plugin_aggs_matrix_stats_client_7_17_8.xml
/.idea/libraries/Maven__org_elasticsearch_plugin_lang_mustache_client_7_17_8.xml
/.idea/libraries/Maven__org_elasticsearch_plugin_mapper_extras_client_7_17_8.xml
/.idea/libraries/Maven__org_elasticsearch_plugin_parent_join_client_7_17_8.xml
/.idea/libraries/Maven__org_elasticsearch_plugin_rank_eval_client_7_17_8.xml
/.idea/libraries/Maven__org_freemarker_freemarker_2_3_32.xml
/.idea/libraries/Maven__org_gbif_dwc_api_1_28.xml
/.idea/libraries/Maven__org_gbif_dwca_io_javadoc_2_9.xml
/.idea/libraries/Maven__org_gbif_gbif_common_0_50.xml
/.idea/libraries/Maven__org_hamcrest_hamcrest_2_2.xml
/.idea/libraries/Maven__org_hdrhistogram_HdrHistogram_2_1_9.xml
/.idea/libraries/Maven__org_junit_jupiter_junit_jupiter_5_9_2.xml
/.idea/libraries/Maven__org_junit_jupiter_junit_jupiter_api_5_9_2.xml
/.idea/libraries/Maven__org_junit_jupiter_junit_jupiter_engine_5_9_2.xml
/.idea/libraries/Maven__org_junit_jupiter_junit_jupiter_params_5_9_2.xml
/.idea/libraries/Maven__org_junit_platform_junit_platform_commons_1_9_2.xml
/.idea/libraries/Maven__org_junit_platform_junit_platform_engine_1_9_2.xml
/.idea/libraries/Maven__org_lz4_lz4_java_1_8_0.xml
/.idea/libraries/Maven__org_mockito_mockito_core_4_8_1.xml
/.idea/libraries/Maven__org_mockito_mockito_junit_jupiter_4_8_1.xml
/.idea/libraries/Maven__org_mongodb_bson_4_8_2.xml
/.idea/libraries/Maven__org_mongodb_bson_record_codec_4_8_2.xml
/.idea/libraries/Maven__org_mongodb_mongodb_driver_core_4_8_2.xml
/.idea/libraries/Maven__org_mongodb_mongodb_driver_sync_4_8_2.xml
/.idea/libraries/Maven__org_objenesis_objenesis_3_2.xml
/.idea/libraries/Maven__org_opentest4j_opentest4j_1_2_0.xml
/.idea/libraries/Maven__org_ow2_asm_asm_9_1.xml
/.idea/libraries/Maven__org_projectlombok_lombok_1_18_24.xml
/.idea/libraries/Maven__org_reactivestreams_reactive_streams_1_0_4.xml
/.idea/libraries/Maven__org_skyscreamer_jsonassert_1_5_1.xml
/.idea/libraries/Maven__org_slf4j_jul_to_slf4j_2_0_6.xml
/.idea/libraries/Maven__org_slf4j_slf4j_api_2_0_6.xml
/.idea/libraries/Maven__org_springdoc_springdoc_openapi_starter_common_2_0_2.xml
/.idea/libraries/Maven__org_springdoc_springdoc_openapi_starter_webmvc_api_2_0_2.xml
/.idea/libraries/Maven__org_springdoc_springdoc_openapi_starter_webmvc_ui_2_0_2.xml
/.idea/libraries/Maven__org_springframework_boot_spring_boot_3_0_2.xml
/.idea/libraries/Maven__org_springframework_boot_spring_boot_autoconfigure_3_0_2.xml
/.idea/libraries/Maven__org_springframework_boot_spring_boot_starter_3_0_2.xml
/.idea/libraries/Maven__org_springframework_boot_spring_boot_starter_data_elasticsearch_3_0_2.xml
/.idea/libraries/Maven__org_springframework_boot_spring_boot_starter_data_mongodb_3_0_2.xml
/.idea/libraries/Maven__org_springframework_boot_spring_boot_starter_graphql_3_0_2.xml
/.idea/libraries/Maven__org_springframework_boot_spring_boot_starter_json_3_0_2.xml
/.idea/libraries/Maven__org_springframework_boot_spring_boot_starter_logging_3_0_2.xml
/.idea/libraries/Maven__org_springframework_boot_spring_boot_starter_test_3_0_2.xml
/.idea/libraries/Maven__org_springframework_boot_spring_boot_starter_tomcat_3_0_2.xml
/.idea/libraries/Maven__org_springframework_boot_spring_boot_starter_web_3_0_2.xml
/.idea/libraries/Maven__org_springframework_boot_spring_boot_test_3_0_2.xml
/.idea/libraries/Maven__org_springframework_boot_spring_boot_test_autoconfigure_3_0_2.xml
/.idea/libraries/Maven__org_springframework_data_spring_data_commons_3_0_1.xml
/.idea/libraries/Maven__org_springframework_data_spring_data_elasticsearch_5_0_1.xml
/.idea/libraries/Maven__org_springframework_data_spring_data_mongodb_4_0_1.xml
/.idea/libraries/Maven__org_springframework_graphql_spring_graphql_1_1_1.xml
/.idea/libraries/Maven__org_springframework_graphql_spring_graphql_test_1_1_1.xml
/.idea/libraries/Maven__org_springframework_security_spring_security_core_6_0_1.xml
/.idea/libraries/Maven__org_springframework_security_spring_security_crypto_6_0_1.xml
/.idea/libraries/Maven__org_springframework_security_spring_security_test_6_0_1.xml
/.idea/libraries/Maven__org_springframework_security_spring_security_web_6_0_1.xml
/.idea/libraries/Maven__org_springframework_spring_aop_6_0_4.xml
/.idea/libraries/Maven__org_springframework_spring_beans_6_0_4.xml
/.idea/libraries/Maven__org_springframework_spring_context_6_0_4.xml
/.idea/libraries/Maven__org_springframework_spring_core_6_0_4.xml
/.idea/libraries/Maven__org_springframework_spring_expression_6_0_4.xml
/.idea/libraries/Maven__org_springframework_spring_jcl_6_0_4.xml
/.idea/libraries/Maven__org_springframework_spring_test_6_0_4.xml
/.idea/libraries/Maven__org_springframework_spring_tx_6_0_4.xml
/.idea/libraries/Maven__org_springframework_spring_web_6_0_4.xml
/.idea/libraries/Maven__org_springframework_spring_webflux_6_0_4.xml
/.idea/libraries/Maven__org_springframework_spring_webmvc_6_0_4.xml
/.idea/libraries/Maven__org_webjars_swagger_ui_4_15_5.xml
/.idea/libraries/Maven__org_webjars_webjars_locator_core_0_52.xml
/.idea/libraries/Maven__org_xmlunit_xmlunit_core_2_9_1.xml
/.idea/libraries/Maven__org_yaml_snakeyaml_1_33.xml
/.idea/misc.xml
/.idea/modules.xml
/.idea/codeStyles/Project.xml
/.idea/inspectionProfiles/Project_Default.xml
/.idea/vcs.xml
/lists-ui-vite.iml
/schema.graphql
/.env.production
/.env.local
/dist/*
/dist
