version: 0.2
###
# This build project exports any variables needed for later stages and actions,
# builds the template configs used to launch the CloudFormation templates

env:
  shell: bash
  git-credential-helper: yes
  variables:
    DEBIAN_FRONTEND: noninteractive
  exported-variables:
    - ADMIN_USER
    - ALA_SECRETS_NAME
    - APP_CERTIFICATE
    - UI_SUB_DOMAIN
    - BIE_BASE_URL
    - BIOCACHE_BASE_URL
    - CODEBUILD_BUILD_NUMBER
    - COLLECTORY_BASE_URL
    - DATABASE_STACK_NAME
    - DOCKER_USERNAME
    - ECR_REPO
    - ECR_STACK_NAME
    - HELM_RELEASE_NAME
    - HOSTED_ZONE
    - IMAGES_BASE_URL
    - IMAGE_NAME
    - IMAGE_TAG
    - MONGODB_USERNAME
    - NAMEMATCHING_BASE_URL
    - PRODUCT_COMPONENT
    - PRODUCT_NAME
    - SLACK_ALERT_CHANNEL
    - SLACK_DEPLOY_NOTIFICATION
    - USERDETAILS_BASE_URL
    - ELASTIC_HOST
    - ELASTIC_PORT
    - WS_SUB_DOMAIN
    - EKS_NAMESPACE

phases:

  install:
    commands:
      - echo Running on $(lsb_release -d | cut -f2)
      - echo aws-cli version $(aws --version)
      - pip install jinja2
      - export CUR_PIPELINE_FINGERPRINT=$(md5sum cicd/$PRODUCT_COMPONENT/pipeline/pipeline.yaml | awk '{print $1}')
      - # This next bit checks if the running pipeline is out of sync with the pipeline in the
      - # current code revision. If it is it re-launches itself! For a normal branch commit the
      - # pipeline is set to autorun on update so it will restart automatically and launch the
      - # latest revision on the branch. For a rollback we dont want it to restart automatically as
      - # we need to run a specific commit, not the latest. In this case the pipeline is set NOT to
      - # autorun on update. It will have to be manually started after the rollback pipeline
      - # has finished launching
      - | 
          if [[ $PIPELINE_FINGERPRINT != $CUR_PIPELINE_FINGERPRINT ]]; then
            echo existing pipeline is out of sync with current code revision, relaunching!
            cd cicd/$PRODUCT_COMPONENT/pipeline/
            ./deploy_pipeline.sh -e ${ENVIRONMENT:0:4} -b $SRC_BRANCH
            # pipeline execution should now stop if this is a rollback, 
            # or restart automatically if this a normal branch deploy
            exit 1
          else
            echo existing pipeline is in sync with current code revision, proceeding with the deploy!
          fi
    finally:
      - #echo This always runs even if the update or install command fails

  pre_build:
    commands:
      - echo Entered the pre_build phase...
      - echo source branch is $SRC_BRANCH
      - echo clean branch is $CLEAN_BRANCH
      - echo Environment is $ENVIRONMENT
      - echo generating environment vars...
      - cicd/gen_env_vars.py --env $ENVIRONMENT --clean-branch $CLEAN_BRANCH --conf cicd/$PRODUCT_COMPONENT/config.ini > env.txt
      - echo loading config..
      - set -a ; source env.txt ; set +a
      # this is not being used in the deploy build spec. The environment vars are exported into the pipeline namespace.
      - echo creating the app environment for the lists deployment...
      - |
         source cicd/unset_codebuild_env_vars.sh
         for var in $(printenv | awk -F= '{print $1}'); do
           echo "$var=\"$(printenv $var)\"" >> app.env
         done
    finally:
      - #echo This always runs

  build:
    commands:
      - echo Entered the build phase...
      # package templates and generate the template configs
      - |
          for i in cicd/$PRODUCT_COMPONENT/app/*.yaml; do
            stack=$(echo $i | sed 's/.yaml$//')
            aws cloudformation package --template-file $stack.yaml \
                                       --s3-bucket $ARTIFACTS_BUCKET \
                                       --s3-prefix $PRODUCT_NAME/$PRODUCT_COMPONENT/$CLEAN_BRANCH-$CODEBUILD_BUILD_NUMBER \
                                       --output-template-file ${stack}.yaml \
                                       --region $REGION

            echo Generating the template config for $stack
            cicd/gen_template_config.py --template ${stack}_template_config.j2 > ${stack}_template_config.json
          done
    finally:
      - #echo This always runs


  post_build:
    commands:
      - #echo Entered the post_build phase...

artifacts:
  files:
    - cicd/$PRODUCT_COMPONENT/app/*
  name: BuildTemplateConfigArtifact
  discard-paths: no