.disabled {
  opacity: 0.8;
  pointer-events: none;
}

.inner {
  pointer-events: none;
}

.inner * {
  pointer-events: all;
}

.code {
  font-size: var(--mantine-font-size-sm);
  font-weight: 600;
  background-color: transparent;
}

.codeBlock {
  font-size: var(--mantine-font-size-md);
  padding: 20px !important;
}