.filter {
  padding: 6px;

  &:hover {
    @mixin light {
      background-color: var(--mantine-color-grey-1);
    }
    @mixin dark {
      background-color: var(--mantine-color-dark-5);
    }
  }
}

.heading {
  /* position: sticky; */
  /* top: 64px; */
  padding-left: 16px;
  padding-right: 16px;
  padding-bottom: 10px;
  border-radius: 0; 
  z-index: 100;
  border-bottom: 1px solid var(--mantine-color-default-border);
}

.checkboxRoot {
  margin: 4px 0px 4px 0px;
}
.checkboxLabel { 
  font-size: 10px;
  width: 100%;
  max-width: 100%;
  flex-grow: 1;
  display: flex;
}
.checkboxInner {
  margin-top: 3px;
}
.checkboxLabelWrapper {
  width: 100%;
}
.checkboxBody {
  width: 100%;
}

.checkboxPaper {
  display: flex;
  justify-content: space-between;
  align-items: left;
  text-align: left;
  width: 100%;
  /* padding: 0px 4px 0px 4px; */
  border-radius: 0;
  font-size: var(--mantine-font-size-sm);
}

.facetPaper {
  padding: 5px 2px 2px 0px;
  border-top: 1px solid var(--mantine-color-default-border);
}

.resultsSummary {
  font-weight: 500;
  font-size: var(--mantine-font-size-sm);
  padding-bottom: 4px;;
}